{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


<br />
<br />
<br />
<br />
<a href="/menu">
    <button class="btn btn-info btn-lg">Menu</button>
</a>

<a href="/order">
    <button class="btn btn-info btn-lg">Order Now!</button>
</a>

<button class="btn btn-secondary">Call Us!</button>

{% endblock %}